a {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}

.cardInfo {
  display: flex;
  flex-direction: column;
}

.cardInfo * {
  padding: 0.5rem;
  margin: 0.3rem 0;
}

textarea {
  resize: none;
  min-height: 100px;
}
