.App {
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
}

.columns-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  max-width: 88rem;
  margin: auto;
}

h1 {
  color: #816f4d;
}
